.env
env
/.env
node_modules
/front-end/node_modules/
front-end/node_modules/
vite.config.js.timestamp-*
/front-end/vite.config.ts.timestamp-*
front-end/vite.config.js.timestamp-*
front-end/vite.config.ts.timestamp-*
/build
/front-end/build
front-end/build