.env
env
/.env
node_modules
/front-end/node_modules/
front-end/node_modules/
vite.config.js.timestamp-*
/front-end/vite.config.ts.timestamp-*
front-end/vite.config.js.timestamp-*
front-end/vite.config.ts.timestamp-*
/build
/front-end/build
front-end/build
front-end/.output
front-end/.vercel
front-end/.netlify
front-end/.wrangler
/front-end/build
/front-end/.output
/front-end/.vercel
/front-end/.netlify
/front-end/.wrangler
/.svelte-kit
/build
/back-end/target
.vscode
settings.json
.git
docker-compose.yml